@model Desafio_MVC.DTO.AlocacaoDTO

@{
    Layout = "_LayoutAdmin";
}

<script>
function exibeDetalheVaga(){

    //oculta todas as tabelas de das vagas
    Array.from(document.querySelector("#Vaga").options).forEach(function(option_element) {
        let option_value = option_element.value;

        if (option_value != ''){
            tblVagaScan = 'tblVaga_'+ option_value;
            document.getElementById(tblVagaScan).style = 'display: none;';
        }
    });

    // seleciona vaga a ser exibida em detalhe
    var idVaga = document.getElementById('Vaga').value;
    if (idVaga != '') {
        var tblVaga = 'tblVaga_'+ idVaga;
        document.getElementById(tblVaga).style = 'display: block;';
    }

    

}
</script>



<h1> Alocação de Funcionários </h1>
<form class="form-horizontal" asp-action="Salvar" asp-controller="Alocacao">  <br>
<input type="hidden" asp-for="Id" value="0"><br>

<label asp-for="InicioAlocacao">Insira a data de Início da Alocação</label>
<input class="form-control" type="date" asp-for="InicioAlocacao" ><br><br>
<span class="text-danger"asp-validation-for= "InicioAlocacao"></span><br><br>

<table width="100%">
    <tr>
        <td width="30%"> 
            <p>Selecione uma Vaga:</p>
            <select class="form-control" onchange="javascript:exibeDetalheVaga();" id = "Vaga"  asp-for="VagaId" asp-items='@(new SelectList(@ViewBag.Vaga,"Id", "Projeto"))'><option value="" >Selecione</option></select><br><br>
            <span class="text-danger" asp-validation-for="VagaId"></span>
            <br><br>
        </td>
        <td width="5%"></td>
        <td>

@{
    foreach (var vaga in @ViewBag.Vaga){
@Html.Raw("<div style='display: none;' id='tblVaga_"+ vaga.Id +"'>");
        @Html.Raw("<table  class= 'table table-responsive'>");
            @Html.Raw("<thead>");
                @Html.Raw("<tr>");
                    @Html.Raw("<th colspan='6'><h3>Vaga Selecionada</h3></th>");
                @Html.Raw("</tr>");
                @Html.Raw("<tr>");
                    @Html.Raw("<th>Codigo</th>");
                    @Html.Raw("<th>Cliente</th>");
                    @Html.Raw("<th>Cargo</th>");
                    @Html.Raw("<th>Descrição</th>");
                    @Html.Raw("<th>Projeto</th>");
                    @Html.Raw("<th>Quantidade</th>");
                @Html.Raw("</tr>");
            @Html.Raw("</thead>");
            @Html.Raw("<tbody>");
                @Html.Raw("<tr>");
                    @Html.Raw("<td>"+ vaga.Codigo +"</td>");
                    @Html.Raw("<td>"+ vaga.Cliente +"</td>");
                    @Html.Raw("<td>"+ vaga.Cargo +"</td>");
                    @Html.Raw("<td>"+ vaga.Descricao +"</td>");
                    @Html.Raw("<td>"+ vaga.Projeto +"</td>");
                    @Html.Raw("<td>"+ vaga.Quantidade +"</td>");
                @Html.Raw("</tr>");
            @Html.Raw("</tbody>");
        @Html.Raw("</table>");
    @Html.Raw("</div>");
    }
}


        </td>
    </tr>
</table>

</script>


<script>
function exibeDetalheFuncionario(){

    //oculta todas as tabelas de das vagas
    Array.from(document.querySelector("#Funcionario").options).forEach(function(option_element) {
        let option_value = option_element.value;

        if (option_value != ''){
            tblFuncionarioScan = 'tblFuncionario_'+ option_value;
            document.getElementById(tblFuncionarioScan).style = 'display: none;';
        }
    });

    // seleciona vaga a ser exibida em detalhe
    var idFuncionario = document.getElementById('Funcionario').value;
    if (idFuncionario != '') {
        var tblFuncionario = 'tblFuncionario_'+ idFuncionario;
        document.getElementById(tblFuncionario).style = 'display: block;';
    }

    

}
</script>


<table width="100%">
    <tr>
        <td width="30%"> 
            <p>Selecione um Funcionário:</p>
            <select class="form-control" onchange="javascript:exibeDetalheFuncionario();"asp-for="FuncionarioId" asp-items='@(new SelectList(@ViewBag.Funcionario,"Id", "Nome"))'id = "Funcionario"><option value="" >Selecione</option></select><br><br>
            <span class="text-danger" asp-validation-for="FuncionarioId"></span><br><br>
            <br><br>
        </td>
        <td width="5%"></td>
        <td>

@{
    foreach (var funcionario in @ViewBag.Funcionario){
@Html.Raw("<div style='display: none;' id='tblFuncionario_"+ funcionario.Id +"'>");
        @Html.Raw("<table  class= 'table table-responsive'>");
            @Html.Raw("<thead>");
                @Html.Raw("<tr>");
                    @Html.Raw("<th colspan='6'><h3>Funcionario Selecionado</h3></th>");
                @Html.Raw("</tr>");
                @Html.Raw("<tr>");
                    @Html.Raw("<th>Cargo</th>");
                    @Html.Raw("<th>Funcionário</th>");
                @Html.Raw("</tr>");
            @Html.Raw("</thead>");
            @Html.Raw("<tbody>");
                @Html.Raw("<tr>");
                    @Html.Raw("<td>"+ funcionario.Cargo +"</td>");
                    @Html.Raw("<td>"+ funcionario.Nome +"</td>");
                 
                @Html.Raw("</tr>");
            @Html.Raw("</tbody>");
        @Html.Raw("</table>");
    @Html.Raw("</div>");
    }
}


        </td>
    </tr>
</table>

<button class="btn btn-success">Alocar</button><br><br>

</form>



<br> 









<a href="javascript:history.back();">Voltar</a>
