@model Desafio_MVC.DTO.FuncionarioDTO
@{
    Layout = "_LayoutAdmin";
}
<h1>Atualização de Funcionario</h1>
<hr/>
<form class="form-horizontal" asp-action="Atualizar" asp-controller="Funcionario" method="POST">  

<input type="hidden" asp-for="Id"><br>

<label asp-for="Cargo">Nome do Cargo:</label>
<input class="form-control" type="text" asp-for="Cargo"placeholder="Digite o Nome do Cargo">
<span class="text-danger"asp-validation-for="Cargo"></span><br><br>

<label asp-for="InicioWa">Início de WA:</label>
<input class="form-control" type="date" asp-for="InicioWa"placeholder="Digite a data de início de WA">
<span class="text-danger"asp-validation-for="InicioWa"></span><br><br>

<label asp-for="Nome">Nome do Funcionário:</label>
<input class="form-control" type="text" asp-for="Nome"placeholder="Digite o Nome do Funcionário">
<span class="text-danger"asp-validation-for="Nome"></span><br><br>

<label asp-for="Matricula">Matrícula do Funcionário:</label>
<input class="form-control" type="text" asp-for="Matricula"placeholder="Digite a matrícula do Funcionário">
<span class="text-danger"asp-validation-for="Matricula"></span><br><br>

<label asp-for="TerminoWa">Previsão de término WA:</label>
<input class="form-control" type="text" asp-for="TerminoWa"placeholder="Digite a previsão de término de WA">
<span class="text-danger"asp-validation-for="TerminoWa"></span><br><br>

<label asp-for="Telefone">Telefone do Funcionário:</label>
<input class="form-control" type="text" asp-for="Telefone"placeholder="Digite o telefone do Funcionário">
<span class="text-danger"asp-validation-for="Telefone"></span><br><br>

<label asp-for="Email">E-mail do Funcionário:</label>
<input class="form-control" type="text" asp-for="Email"placeholder="Digite o e-mail do Funcionário">
<span class="text-danger"asp-validation-for="Email"></span><br><br>

<p>Selecione a(s) Tecnologia(s):</p>
<!--<select  class="form-control" multiple asp-for="TecnologiaId" asp-items='@(new SelectList(@ViewBag.Tecnologia,"Id", "NomeTec"))'></select><br><br> -->

<select  class="form-control" onkeyup="javascript:obterIdsSelecionados();" onmouseup="javascript:obterIdsSelecionados();" onchange="javascript:obterIdsSelecionados();" multiple id="TecnologiasSelecionadas" asp-for="TecnologiasSelecionadas" asp-items='@(new SelectList(@ViewBag.Tecnologia,"Id", "NomeTec"))'></select><br><br>

<input type="hidden" id="TecnologiasSelecionadasId" asp-for="TecnologiasSelecionadasId" value="">

<script>
function obterIdsSelecionados(){

    const myarray = document.getElementById('TecnologiasSelecionadas');
    myarray.addEventListener('change', (e) => {

    const options = e.target.options;
    const selectedOptions = [];
    const selectedValues = [];

    for (let i = 0; i < options.length; i++) {
        if (options[i].selected) {
        selectedOptions.push(options[i]);
        selectedValues.push(options[i].value);
        }
    }

    document.getElementById('TecnologiasSelecionadasId').value = selectedValues;

    });

}
</script>


<p>Selecione uma Unidade da GFT:</p>
<select class="form-control" asp-for="GftId" asp-items='@(new SelectList(@ViewBag.Gft,"Id", "Nome"))'></select><br><br>



<button class="btn btn-success">Atualizar</button><br><br>

</form>

<a href="javascript:history.back();">Voltar</a>