@model IEnumerable<Desafio_MVC.Models.Alocacao>
@{
    Layout = "_LayoutAdmin";
}


<hr>
    <h2>Histórico de Alocações - WA</h2>
    <hr>

<script>   $(document).ready( function () {
    $('#Alocacao').DataTable({
        "language": {
            "lengthMenu" :"Mostrando _MENU_ registros por página",
            "zeroRecords": "Nenhuma Alocação Cadastrada",
            "info": "Mostrando página _PAGE_ de _PAGE_",
            "infoEmpty": "Nenhum registro disponível",
            "search": "Pesquisar:",
            "paginate": {
                "first" : "Primeiro",
                "last": "Último",
                "next": "Próximo",
                "previous": "Anterior"
                
            }

        }
    
    });
});
</script>


<table id="Alocacao" class= "table table-striped table-bordered">
  <thead>
    <tr>
        <th>Nome Funcionário</th>
        <th>Cliente</th>
        <th>Nome Projeto</th>
        <th>Cód Vaga</th>
        <th>Início WA</th>
        <th>Data Início Alocação</th>        
        
    </tr>
</thead>
<tbody>
    
     @foreach (var alocacao in Model)
{
    <tr>

          <td>@alocacao.Funcionario.Nome</td> 
          <td>@alocacao.Vaga.Cliente</td> 
          <td>@alocacao.Vaga.Projeto</td>
          <td>@alocacao.Vaga.Codigo</td>
          <td>@alocacao.Funcionario.InicioWa.ToString("dd/MM/yyyy")</td>
          <td>@alocacao.InicioAlocacao.ToString("dd/MM/yyyy")</td> 
               
        
    
    </tr>
}
</tbody>
</table><br>

<a href="javascript:history.back();">Voltar</a>