@model IEnumerable<Desafio_MVC.Models.Vaga>
@{
    Layout = "_LayoutAdmin";
}

<a asp-action="CadastrarVaga" asp-controller="Wa" class="btn btn-info">Cadastrar Nova Vaga</a>


<hr>
    <h2>Lista Vagas</h2>
    <hr>

    <script>   $(document).ready( function () {
    $('#Vaga').DataTable();
} );</script>
    


<table id="Vaga" class= "table table-striped table-bordered">
  <thead>
    <tr>
        
        <th>Data de Abertura</th>
        <th>Codigo</th>
        <th>Cliente</th>
        <th>Cargo</th>
        <th>Descrição</th>
        <th>Projeto</th>
        <th>Quantidade</th>
    </tr>
</thead>
<tbody>
    @foreach (var vaga in Model)
{
    <tr>
        <td>@vaga.DataAbertura</td> 
        <td>@vaga.Codigo</td>
        <td>@vaga.Cliente</td>
        <td>@vaga.Cargo</td>
        <td>@vaga.Descricao</td>
        <td>@vaga.Projeto</td>
        <td>@vaga.Quantidade</td>
        
        <td><a class="btn btn-primary" href="">Editar</a> <a class="btn btn-danger"href="">Deletar</a></td>    
    </tr>
}
</tbody>
</table><br>

<a href="javascript:history.back();">Voltar</a>